body {
    margin: 0;
    padding: 0;
    background: #000000;
    color: #999999;
    /* overflow-y: hidden; */
}

.container {
    background-size: cover;
    background-image: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("/img/netflix-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

/* navbar */
.navbar {
    padding-top: 1%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 4vw;
}

.img-logo {
    width: 14%;
    color: #e50914;
}

.btn-sign-in {
    background-color: #e50914;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-left: 3vw;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-language {
    background-color: transparent;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white;
    /* font-weight: bold; */
    font-family: Arial, Helvetica, sans-serif;

}

/* main-container */

.main-container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title-container {
    color: white;
    width: 50%;
    text-align: center;
}

.main-title {
    font-size: 4.2em;
    font-weight: bold;
    margin-bottom: 14px;
    /* line-height: 1.1; */
}

.main-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.main-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.main-email-container {
    width: 50%;
    height: fit-content;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main-email-container-input {
    border: none;
    outline: none;
    padding: 20px 10px;
    font-size: 1em;
}

.btn-get-started {
    cursor: pointer;
    background-color: #e50914;
    border: none;
    padding: 18px 12px;
    color: white;
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: center;
}

.btn-get-started:hover {
    background-color: #ff0b18;
}

/* card-section */

.card-4,
.card-1,
.card-2,
.card-3 {
    border-top: 8px rgb(69, 69, 69) solid;
    padding: 50px;
}

.card-4 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-4 {
    padding-left: 100px;
}

.card-1 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.card-1-vid-1 {
    display: inline-grid;
    align-items: center;
}

.desc-1 {
    padding-left: 80px;
}

.style-cards h1 {
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
}

.style-cards h3 {
    font-size: 1.6rem;
    line-height: 2rem;
}

.card-1 video {
    position: relative;
    width: 100%;
    height: 54%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

.card-1 img {
    grid-column: 2/2;
    grid-row: 1/2;
}

.card-2 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-2 {
    padding-left: 100px;
}

.card-3 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-3 {
    padding-left: 80px;
    padding-right: 20px;
}

.card-3-vid-3 {
    display: inline-grid;
    align-items: center;
}

.card-3 img {
    width: 110%;
    grid-column: 2/2;
    grid-row: 1/2;
}

.card-3 video {
    position: relative;
    top: -87px;
    left: 125px;
    width: 65%;
    height: 78%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

/* FAQ */

.lastsec {
    border-top: 8px rgb(69, 69, 69) solid;
}

.faq {
    text-align: center;
}

.faq h1 {
    padding-bottom: 40px;
    font-size: 3rem;
}

.questions {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: center;
    list-style: none;
}

.questions li {
    padding: 20px 30px;
    margin: 5px;
    font-size: 1.6rem;
    background-color: #303030;
    color: white;
    text-align: left;
    width: 50%;
}

.questions li:hover{
    cursor: pointer;
    
}

.faq-email-container{
    width: 50%;
    height: fit-content;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.faq-email-container-input {
    border: none;
    outline: none;
    padding: 20px 10px;
    font-size: 1em;
}

/* footer */


.footer{
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
    border-top: 8px rgb(69, 69, 69) solid;
}

.footer ,
.footer a{
    color: #999999;
    font-size: 1rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.footer p{
    margin-bottom: 1.5rem;
}

.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 2rem;
}

.footer li{
    line-height: 2.4;
    list-style: none;
}

.footer-lang{
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    /* border-radius: 5px; */
    cursor: pointer;
    border: 0.5px solid white;
    /* font-weight: bold; */
    font-family: Arial, Helvetica, sans-serif;
}